/* MAIN, BODY & FOOTER */

.main {
    margin: auto 6em;
}

.menu {
    width: 100%;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px grey;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-links a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #6f6f6f;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px grey;
}

/* INDEX */ 

.intro {
    text-align: center;
    padding: 4em;
}

.intro-txt {
    padding-bottom: 2em;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: #629dba;
    border-radius: 5px;
    margin: 1em;
}

/* ACCOMPAGNEMENT & EXPERTISE */

.intro-accompagnement, .intro-expertise {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-left: 10em;
    margin-right: 10em;
}

/* .contenu-accompagnement h2, .contenu-expertise h2, .icon-expertise, .icon-accompagnement  {
    text-align: center;
} */

.icon-expertise, .icon-accompagnement {
    color: #629dba;
}

.contenu-accompagnement, .contenu-expertise {
    margin-left: 10em;
    margin-right: 10em;
}

.contenu-accompagnement li, .contenu-expertise li {
    color: #858585;
    font-family: 'Open Sans';
}

.cta-accompagnement, .cta-expertise, .div-cta {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*CONTACT FORM */

.form-container {
    padding: 4em;
    display: inline;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.form-group {
    margin-bottom: 1rem;
}

.form-content {
    text-align: justify;
    padding-left: 2em;
    background-color: #629dba;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto;
    width: 40%;
    border-radius: 5px;
}

.div-cta {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* FONTS, IMG & LINKS */

body h1, h2, h3 {
    color: #333333;
    font-family: 'Raleway';
}

body p {
    color: #858585;
    font-family: 'Open Sans';
}

.logo-img {
    width: 10em;
}
  
.contact-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #629dba;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    color: #629dba;
    font-family: 'Open Sans';
}

.contact-btn:hover {
    background: #629dba;
    color: #fff;
    border-color: #629dba;
}

.decouvrir-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    background: #629dba;
    color: #fff;
    font-family: 'Open Sans';
}

.decouvrir-btn:hover {
    background: #fff;
    color: #629dba;
    border-color: #629dba;
}

.card p {
    color: #fff;
    text-align: center;
    margin: 0.5em;
}

