/* MAIN, BODY & FOOTER */

.main {
    margin: auto 20em;
    line-height: 1.55556;
}

.menu {
    width: 100%;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border-bottom: solid 1px grey; */
}

.menu:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 20px auto; /* This will center the border. */
    padding-top: 10px;
    width: 85%;
    border-top: solid 1px grey;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-links a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: #6f6f6f;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

footer:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 85%;
    border-top: solid 1px grey;
}

footer p {
    font-size: small;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: small;
}

/* INDEX */ 

.intro {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
    padding-right: 10em;
    padding-left: 10em;
}

.contenu {
    margin-left: 10em;
    margin-right: 10em;
}

.intro-txt {
    padding-bottom: 2em;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-left: 5em;
    margin-right: 5em;
}

.card {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #629dba;
    border-radius: 5px;
    margin: 0.8em;
}

/* ACCOMPAGNEMENT & EXPERTISE */

.intro-accompagnement, .intro-expertise {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
    margin-left: 10em;
    margin-right: 10em;
}

/* .contenu-accompagnement h2, .contenu-expertise h2, .icon-expertise, .icon-accompagnement  {
    text-align: center;
} */

.icon-expertise, .icon-accompagnement {
    color: #629dba;
}

.contenu-accompagnement, .contenu-expertise {
    margin-left: 10em;
    margin-right: 10em;
}

.contenu-accompagnement li, .contenu-expertise li {
    color: #858585;
    font-family: 'Open Sans';
}

.cta-accompagnement, .cta-expertise, .div-cta {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.accompagnement-images, .expertise-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 5em;
}

.accompagnement-logo, .expertise-logo {
    width: 8em;
}

/* REFERENCES */

.client-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.client-logo {
    height: 7em;
}

.client-card {
    padding: 5px;
    width: 25em;
    border: 0.5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    flex-basis: 29%;
    border-radius: 15px;
}

/* ABOUT */ 

.about-intro {
    text-align: center;
    padding-top: em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}

.portrait-about {
    width: 15em;
    height: auto;
    border-radius: 5%;
    margin-right: 3em;
}

.about-content {
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 2em;
}

.about-twitter { 
    text-align: center;
}

.about-intro {
    padding-top: 3em;
}

/*CONTACT FORM */

.form-intro {
    padding-top: 2em;
}

.form-container {
    padding: 4em;
    display: inline;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.form-group {
    margin-bottom: 1rem;
}

.form-content {
    text-align: justify;
    padding-left: 2em;
    background-color: #629dba;
    padding-top: 2em;
    margin: 0 auto;
    width: 40%;
    border-radius: 5px;
}

.form-container input, textarea {
    border: 2px solid lightblue;
    border-radius: 4px;
    height: 3em;
    width: 93%;
    font-family: 'Open Sans';
    font-style: normal;
    padding-left: 1em;
}

.div-cta {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* FONTS, IMG & LINKS */

body h1, h2, h3 {
    color: #333333;
    font-family: 'Raleway';
}

body p {
    color: #858585;
    font-family: 'Open Sans';
}

.logo-img {
    width: 9.5em;
}
  
.contact-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #629dba;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    color: #629dba;
    font-family: 'Open Sans';
}

.contact-btn:hover {
    background: #629dba;
    color: #fff;
    border-color: #629dba;
}

.decouvrir-btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center;
    border-radius: 10px;
    background: #629dba;
    color: #fff;
    font-family: 'Open Sans';
}

.decouvrir-btn:hover {
    background: #fff;
    color: #629dba;
    border-color: #629dba;
}

.card p {
    color: #fff;
    text-align: center;
    margin: 0.5em;
    padding-bottom: 1.5em;;
}

